.fa-magnifying-glass {
  font-size: 24px;
}
.search-input {
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 12px 12px;
  background-color: var(--on-background-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);

  input {
    width: 100%;
    border: none;
    outline: none;
  }
}
